a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
    position: relative;
}

#accordion .panel:last-child:before{ display: none; }
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
}
#accordion .panel-title a{
    display: block;
    padding: 10px 30px 10px 60px;
    margin: 0;
    background: #CA1E47;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 4px;
    position: relative;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f063";
    font-family: FontAwesome;
    font-weight: 900;
    width: 50px;
    height: 100%;
    line-height: 40px;
    background: #ca1e47;
    border-right: 1px solid #ffffff;
    border-radius: 3px;
    font-size: 17px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:before{
    content: "\f061";
    background: #ca1e47;
    border-right: 1px solid #ffffff;
    color: #ffffff;
}
#accordion .panel-body{
    padding: 15px 30px;
    /*margin-left: 40px;*/
    background: #fff;
    border-top: none;
    font-size: 15px;
    color: #6f6f6f;
    line-height: 28px;
    letter-spacing: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}