.menu-icon{
	line-height: initial !important;
}
.font-size-14{
	font-size: 14px;
}
.assessment-timer{
	position: absolute;
    right: 20px;
    top: 20px;
    font-size: 13px;
    line-height: 20px;
}
.assessment-timer .time-icon{
	font-size: 22px;
}
.assessment-timer .duration{
	font-size: 13px;
}
.assessment-details{
	font-size: 14px;
}
.bullet{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}
.bullet-danger{
	border: 2px solid #ee335e;
}
.bullet-success{
	border: 2px solid #22c03c;
}
.bullet-primary{
	border: 2px solid #045cd6;
}
.bullet-secondary{
	border: 2px solid #737f9e;
}
.assessment-btn, .assessment-due{
	display: inline-block;
}
.assessment-btn a{
	padding: 6px 18px;
}
.no-dropshadow{
	box-shadow: none;
}
.assess-reports{
	display: inline-block;
    right: 30px;
    position: absolute;
    bottom: 20px;
}
.assess-reports i {
	font-size: 18px;
}
.assess-reports.disabled a{
	color: #adadad;
	cursor: default;
	pointer-events: none;
}
.assess-option{
	text-transform: capitalize;
}
.assess-timer{
	font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    background-color: #3f51b5;
    color: #fff;
    padding: 8px;
}
.border-bottom{
	border-bottom: 1px solid #e8e8e8;
}
.custom-badge span{
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
.custom-badge .primary{

}
.custom-badge .secondary{
	
}
.custom-badge .success{
	
}
.custom-badge .danger{
	
}
.custom-badge .warning{
	
}
.timestamp{
	position: absolute;
    font-size: 12px;
    font-style: italic;
    bottom: 5px;
    right: 10px;
}
.main-img-user::after{
	content: none;
}
.custom-forum{
	width: 90%;
	position: relative;
}
.custom-forum .media-body{
	border: 2px solid #e0e0e0;
    border-radius: 4px;
    position: relative;
}
.custom-forum .media-body::after{
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #e0e0e0;
	border-bottom: 5px solid transparent;
	position: absolute;
    top: 10px;
    left: -11px;
}
.font-lg{
	font-size: 40px;
}
.datetext-holder{
	font-size:12px;
}

/* ticket summary css starts */

.ticket-holder{
	display: block;
	padding-bottom: 30px;
}
.subject-holder{
	display: block;
	padding-bottom: 10px;
	font-weight: 700;
	font-size:15px;
}
.user-title{
	font-size:14px;
}
.desc-holder{
	display: block;
	padding-bottom: 20px;
}
.btn-reply{
	margin-top:20px;
}
.comment-container{
	display:block;
}
.comment-title{
	display:block;
	font-size:15px;
	font-weight:700;
}
.comment-holder{
	display:block;
	border-top: solid 1px #dedede;
	padding: 20px 0px 10px 0px;
}
.image-holder{
	display: inline-block;
}
.image-holder img{
	width: 40px;
    height: 40px;
	border-radius: 50%;
	vertical-align:unset;
}
.name-holder{
	display: inline-block;
	vertical-align: 7px;
}
.name-title{
	padding-left: 10px;
	font-weight: 700;
}
.date-title{
	padding-left: 10px;
	color:#999999;
	font-size:11px;
}
.message-holder{
	display: block;
    padding: 10px 0px;
}

/* ticket summary css ends */

/* forum css starts*/

.media-list {
	list-style: none;
    padding-left: 0;
	margin-bottom: 0;
}
.media {
    position: relative;
	margin-top: 20px;
    overflow: visible;
}
.media:first-child {
    margin-top: 0;
}
.media-left, .media-right, .media-body {
    position: relative;
}
.media-left, .media-right, .media-body {
	display: table-cell;
    vertical-align: top;
}
.media-left, .media > .pull-left {
    padding-right: 20px;
}
.media-body {
    width: 10000px;
}
.media, .media-body {
    overflow: visible;
	zoom: 1;
}
.media-heading {
	display: block;
	margin-top: 0;
	margin-bottom: 3px;
}
.thumb {
    position: relative;
    display: block;
    text-align: center;
}
.thumb:not(.thumb-rounded) img {
    border-radius: 3px;
}
img.media-preview {
    width: auto;
    height: auto;
    max-width: none;
    max-height: 90px;
}
.list-inline {
	list-style: none;
    padding-left: 0;
    margin-left: 0;
    font-size: 0;
}
.list-inline > li {
    display: inline-block;
	padding-left: 0;
    padding-right: 20px;
    font-size: 13px;
}
.list-inline-separate > li {
    padding-right: 20px;
    position: relative;
}
.list-inline > li:last-child {
    padding-right: 0;
}
.pull-right {
    float: right;
}
.position-left {
    margin-right: 7px;
}
.custom-timeline {
    margin: 0 auto 0px;
    padding: 0;
    padding-bottom: 20px;
    max-width: 840px;
    position: relative;
}
.custom-timeline-item:before {
    content: '';
    position: absolute;
    top: 34.5px;
    left: 17px;
    border: 2px solid #cccccc;
    width: 16px;
    height: 16px;
    background-color: #ededed;
    border-radius: 50px;
}
.custom-timeline-item:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 37.5px;
    left: -5px;
    box-shadow: -1px 1px 5px rgb(0 0 0 / 7%);
    z-index: -1;
}
.custom-timeline-item {
    position: relative;
    padding-left: 55px;
    list-style: none;
    margin-bottom: 30px;
}
.custom-timeline-item:nth-child(4n+1):before {
    border-color: #0096D6;
}
.custom-timeline-item:nth-child(4n+2):before {
    border-color: #FECF13;
}

.custom-timeline-item:last-child {
    margin-bottom: 0;
}
.custom-timeline-item-detailed .custom-timeline-avatar {
    vertical-align: top;
}
.custom-timeline-content {
    position: relative;
    background-color: #ffffff;
    padding: 25px 30px 25px 28px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(0 0 0 / 7%);
    min-height: 85px;
}
.custom-timeline-content:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 37.5px;
    left: -5px;
}
.custom-timeline-avatar {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50px;
    overflow: hidden;
    vertical-align: middle;
    float: left;
}
.custom-timeline-avatar > img {
    width: 35px;
}
.forum-like {
    cursor: pointer;
}
.icon-thumbs-up2:before {
    content: "\ecf2";
}
.custom-timeline-autor{
	font-weight:700;
    padding-left:10px;
}
.custom-timeline-activity{
    padding-left:46px;

}
/* forum summary css ends */

#admin-holder{
    display:none;
}
.welcome-msg{
    font-weight:700;
}

/** FAQ css starts here */
